
<div class="content container animate__animated  animate__fadeIn animate__faster" >
    <h1 class="header">
        <span class="header-text">Operaciones</span>
    
    </h1>

    <settings _nghost-vss-c332 >

        <aside class="admin-pill-nav rounded menuScroll" style="width: 150px;">
            <a  class="mat-focus-indicator nav-item mat-menu-item selected" ui-sref-active="selected"  ui-sref="home.flota.remolque">
                <div class="name">Mantenimiento</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.flota.semiremolque">
                <div class="name">Facturación</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.flota.semiremolque">
                <div class="name">Caja</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <!-- <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.flota.semiremolque">
                <div class="name">Gastos Operativos</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a> -->

        </aside>
    
        <div class="settings-panels-container">
             <div ui-view=""></div>
        </div>

    </settings>
  
</div>