
<div class="content container animate__animated  animate__fadeIn animate__faster" >
    <h1 class="header">
        <span class="header-text">Empleados</span>
    
    </h1>

    <settings _nghost-vss-c332 >

        <aside class="admin-pill-nav rounded menuScroll" style="width: 150px;">
            <a  class="mat-focus-indicator nav-item mat-menu-item selected" ui-sref-active="selected"  ui-sref="home.empleados.planilla">
                <div class="name">Planilla</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.empleados.asistencia">
                <div class="name">Asistencia</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.empleados.pagosueldo">
                <div class="name">Pago sueldos</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.empleados.usuario">
                <div class="name">Usuarios</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
        </aside>
    
        <div class="settings-panels-container">
             <div ui-view=""></div>
        </div>

    </settings>
  
</div>

   

  

<script>
    
    posicionarMenu();
                
                $(window).scroll(function() {    
                    posicionarMenu();
                });
                
                function posicionarMenu() {
                    var altura_del_header = $('.stopheader').outerHeight(true);
                    var altura_del_menu = $('.menuScroll').outerHeight(true);
                
                    if ($(window).scrollTop() >= altura_del_header){
                        $('.menuScroll').addClass('fixedWrapper');
                        // $('.wrapper').css('margin-top', (altura_del_menu) + 'px');
                    } else {
                        $('.menuScroll').removeClass('fixedWrapper');
                        $('.fixedWrapper').css('margin-top', '0');
                    }
                }
</script>