
          
            <svg width="100%" height="4" focusable="false" class="mat-progress-bar-background mat-progress-bar-element"><defs><pattern x="4" y="0" width="8" height="4" patternUnits="userSpaceOnUse" id="mat-progress-bar-5"><circle cx="2" cy="2" r="2"></circle></pattern></defs><rect width="100%" height="100%" fill="url('/bestmusic/admin/channels?page=1&amp;per_page=15#mat-progress-bar-5')"></rect></svg>
            <div class="mat-progress-bar-buffer mat-progress-bar-element">
            </div>
            <div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" style="transform: scaleX(0);">
            </div>
            <div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element">
            </div>
 