<md-dialog aria-label="Mango (Fruit)">



    <div class="app-content">
        <web-player >
            <div class="">
                <appearance>
                    <mat-sidenav-container class="mat-drawer-container mat-sidenav-container">
                        <div class="mat-drawer-backdrop">
                            <mat-sidenav class="mat-drawer mat-sidenav sidebar mat-drawer-side mat-drawer-opened" style="transform: none; visibility: visible;">
                                <div class="mat-drawer-inner-container">
                                    <appearance-panel-meta _nghost-gcg-c368>
                                        <div  ng-click="cancel()"  class="back-button">
                                                     
                                            <span class="material-icons mat-icon notranslate mat-icon-no-color" style="text-align: center;">close</span>
                                        </div> 
                                        
                                            <div  class="title">
                                            <div class="static">Viaje</div>
                                            <div  class="path">
                                                <span>
                                                    <span class="name last">000001</span>
                                                </span>
                                            </div>
                                        </div>
                                    </appearance-panel-meta>
            
            
                                    <div class="appearance-panel-content">
                                        <button  ng-click="showFormGRT($event)" type="button"  class="mat-focus-indicator new-theme-button mat-raised-button mat-button-base mat-accent" style="margin-bottom: 15px;">
                                            <span class="mat-button-wrapper">Nueva GR.Transportista</span>
                                        </button>
            
            
                                        <ul>
                                            <li class="nav-item">
                                                <div _ngcontent-gcg-c375="" class="name">001-000000001</div>
                                                <div class="actions">
                                                    <md-button class="mat-focus-indicator mat-icon-button mat-button-base">
                                                        <span class="material-icons mat-icon notranslate mat-icon-no-color" style="font-size: 25px;">monetization_on</span>
                                                    </md-button>
                                                    <md-button class="mat-focus-indicator mat-icon-button mat-button-base">
                                                        <span class="material-icons mat-icon notranslate mat-icon-no-color" style="font-size: 25px;">local_gas_station</span>
                                                    </md-button>
                                                    <md-button class="mat-focus-indicator mat-icon-button mat-button-base">
                                                        <span class="material-icons mat-icon notranslate mat-icon-no-color" style="font-size: 25px;">description</span>
                                                    </md-button>
                                                </div>
                                            </li>
                                          
                                        </ul>
                                    </div>
            
                                    <!-- LOADING -->
            
                                    <!-- <loading-indicator _ngcontent-gcg-c375  class="ng-tns-c170-1 ng-trigger ng-trigger-visibility overlay overlay-partial" _nghost-gcg-c170 style="opacity: 0; display: contents;">
                                        <div _ngcontent-gcg-c170 class="la-ball-spin-clockwise spinner ng-tns-c170-1">
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                            <div _ngcontent-gcg-c170 class="ng-tns-c170-1"></div>
                                        </div>
                                    </loading-indicator> -->
            
                                </div>
                            </mat-sidenav>
            
            
            
                         
                         
            
                        </div>
               <!-- CONENIDO -->
                        <mat-sidenav-content class="mat-drawer-content mat-sidenav-content" style="margin-left: 330px;">
                         
            <!-- asdasdsdasdasdasd asd asd asd as d <br> -->
                            <div class="">
                                <homepage-settings class="settings-panel animate__animated animate__fadeIn animate__faster" style="padding: 15px 20px;">

                                    ASISTENCIA
                                </homepage-settings>
                            </div>
                            
                        </mat-sidenav-content>
                    </mat-sidenav-container>
            
                    
                </appearance>
                      
            </div>

        </web-player>

    </div>



  
                <!-- <div class="app-content">
    
                    <web-player id="web-player" >
                        <div class="player-content">
                            <nav-sidebar>
                                <appearance>
                                    <div class="backAparence">
                                        <div  ng-click="cancel()"  class="back-button">
                                         
                                            <span class="material-icons mat-icon notranslate mat-icon-no-color" style="text-align: center;">close</span>
                                        </div> 
                                        
                                            <div  class="title">
                                            <div class="static">Viaje</div>
                                            <div  class="path">
                                                <span>
                                                    <span class="name last">000001</span>
                                                </span>
                                            </div>
                                        </div>
                                  
                                    </div>
                                </appearance>
                               <div class="appearance-panel-content">
                                <button type="button"  class="mat-focus-indicator new-theme-button mat-raised-button mat-button-base mat-accent">
                                    <span class="mat-button-wrapper">Nueva GR.Conductor</span>
                                </button>
                               </div>
                            </nav-sidebar>
                        </div>
                    </web-player>
                </div>
                 -->
    
      
    
  


  </md-dialog>