
<div class="content container animate__animated  animate__fadeIn animate__faster" >
    <h1 class="header">
        <span class="header-text">Clientes</span>
    
    </h1>

    <settings _nghost-vss-c332 >

        <aside class="admin-pill-nav rounded menuScroll" style="width: 150px;">
            <a  class="mat-focus-indicator nav-item mat-menu-item selected" ui-sref-active="selected"  ui-sref="home.clientes.cliente">
                <div class="name">Clientes</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.clientes.rutas">
                <div class="name">Rutas</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
            <a  class="mat-focus-indicator nav-item mat-menu-item"  ui-sref-active="selected"  ui-sref="home.clientes.tarifas">
                <div class="name">Tarifas</div>
                <div  class="mat-ripple mat-menu-ripple"></div>
            </a>
        </aside>
    
        <div class="settings-panels-container">
             <div ui-view=""></div>
        </div>

    </settings>
  
</div>